{% extends "base.html" %}

{% block title %}{{ author.name }}{% endblock %}

{% block page_content %}

<h1 class="page-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user">
        <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
        <circle cx="12" cy="7" r="4" />
    </svg>
    <span>{{ author.name }}</span>
</h1>

<div class="nutrient is-promoted card usa-card__container clearfix author-card-huge">
    <div class="usa-card__media">
        <img src="{{ author.image_url }}" alt="{{ author.name }}" class="card-image">
    </div>
    <div class="card-content">
        <div class="column-large card-column">
            {% if author.about %}
            <div class="author-about">
                <h2>Об авторе</h2>
                <p>{{ author.about }}</p>
            </div>
            {% else %}
            <div class="author-about">
                <h2>Об авторе</h2>
                <p>Нет информации об авторе.</p>
            </div>
            {% endif %}
        </div>
        <div class="column-small card-column">
            <div class="author-stats">
                <h2 class="card-subtitle">В среднем на 100 слов:</h2>
                <div class="stats-grid">
                    <div class="column">
                        <p>в: {{ author.count_v }}</p>
                        <p>и: {{ author.count_i }}</p>
                        <p>но: {{ author.count_no }}</p>
                        <p>ли: {{ author.count_li }}</p>
                    </div>
                    <div class="column">
                        <p>да: {{ author.count_da }}</p>
                        <p>же: {{ author.count_zhe }}</p>
                        <p>или: {{ author.count_ili }}</p>
                        <p>либо: {{ author.count_libo }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}